Repository celery/celery, pull requests merged in 2018-06, with the labels that each got.

#4790 Fixes issue 4768.
  celery/result.py
  t/integration/tasks.py
  t/integration/test_canvas.py
  t/unit/tasks/test_result.py
Labels: Component: Canvas, PR Type: Bugfix

#4736 Use Redis coercion mechanism for converting query parameters
  celery/backends/redis.py
  t/unit/backends/test_redis.py
Labels: Component: Redis Results Backend, Status: Ready For Merge ✔

#4793 Correctly building graphs with `GroupResult`.
  celery/result.py
  t/unit/utils/test_graph.py
Labels: Status: In Progress
