Repository celery/celery, pull requests merged in 2018-12, with the labels that each got.

#5143 Update CONTRIBUTING.rst, fix tests and update Dockerfile. Related to #5096.
  CONTRIBUTING.rst
  Changelog
  celery/contrib/sphinx.py
  docker/Dockerfile
  docker/docker-compose.yml
  docker/entrypoint
  docker/scripts/install-couchbase.sh
  requirements/docs.txt
  requirements/pkgutils.txt
  t/integration/conftest.py
  t/integration/test_canvas.py
  t/unit/contrib/proj/__init__.py
  t/unit/contrib/proj/conf.py
  t/unit/contrib/proj/contents.rst
  t/unit/contrib/proj/foo.py
  t/unit/contrib/test_sphinx.py
  tox.ini
Labels: Category: Documentation, PR Type: Enhancement

#5095 WIP: Forget parent meta when forgetting a chain
  celery/backends/base.py
  celery/backends/mongodb.py
  celery/result.py
  t/unit/backends/test_base.py
  t/unit/backends/test_mongodb.py
  t/unit/tasks/test_result.py
Labels: Component: MongoDB Results Backend, PR Type: Bugfix

#5218 FEATURE: add a new setting `result_accept_content`
  celery/app/defaults.py
  celery/backends/base.py
  docs/userguide/configuration.rst
  t/unit/backends/test_base.py
  t/unit/backends/test_redis.py
Labels: Category: Results Backend, PR Type: Feature

#5137 Add s3 result backend
  CONTRIBUTORS.txt
  README.rst
  celery/app/backends.py
  celery/app/defaults.py
  celery/backends/s3.py
  docs/internals/reference/celery.backends.s3.rst
  docs/userguide/configuration.rst
  requirements/extras/s3.txt
  requirements/test-ci-default.txt
  requirements/test.txt
  setup.py
  t/unit/backends/test_s3.py
  tox.ini
Labels: Category: Results Backend

#5236 Warn Riak backend users for possible 3.7 incompatibilities
  celery/backends/riak.py
  t/unit/backends/test_riak.py
Labels: Category: Results Backend, Category: Tests

#5235 Code cleanup
  celery/backends/amqp.py
  celery/backends/base.py
  celery/backends/database/session.py
  celery/backends/redis.py
Labels: PR Type: Enhancement

#5264 Fix typo in signals.py
  celery/signals.py
Labels: PR Type: Enhancement
