Repository celery/celery, pull requests merged in 2019-06, with the labels that each got.

#5539 django example - upgrade django and example tasks that use models
  examples/django/demoapp/migrations/0001_initial.py
  examples/django/demoapp/migrations/__init__.py
  examples/django/demoapp/models.py
  examples/django/demoapp/tasks.py
  examples/django/manage.py
  examples/django/proj/settings.py
  examples/django/requirements.txt
Labels: Component: Django

#5542 Download badges
  README.rst
Labels: Category: Documentation, PR Type: Enhancement

#5587 Fix Chain Exceptions propagations
  CONTRIBUTORS.txt
  celery/result.py
  t/integration/test_canvas.py
Labels: Component: Canvas

#5478 Removed dangerous default mutable arguments from function definitions…
  celery/app/base.py
  celery/app/routes.py
  celery/app/trace.py
  celery/app/utils.py
  celery/backends/base.py
  celery/backends/cache.py
  celery/backends/cassandra.py
  celery/backends/database/__init__.py
  celery/backends/mongodb.py
  celery/backends/redis.py
  celery/backends/rpc.py
  celery/bin/base.py
  celery/bin/worker.py
  celery/concurrency/asynpool.py
  celery/concurrency/base.py
  celery/concurrency/eventlet.py
  celery/concurrency/gevent.py
  celery/contrib/migrate.py
  celery/contrib/pytest.py
  celery/contrib/testing/manager.py
  celery/contrib/testing/mocks.py
  celery/events/state.py
  celery/utils/objects.py
  celery/worker/state.py
Labels: PR Type: Enhancement

#5614 Fix: Add a patch to support Python 2.7
  celery/bin/base.py
Labels: Component: CLI, PR Type: Bugfix

#5613 Fix: (group() | group()) not equals single group (#5574)
  celery/canvas.py
  t/unit/tasks/test_canvas.py
Labels: Component: Canvas, PR Type: Bugfix, Status: Needs Test Coverage ✘
