Repository celery/celery, pull requests merged in 2019-02, with the labels that each got.

#5332 AsyncResult: Restore weak references for bound method promises
  celery/result.py
Labels: Category: Results Backend

#5313 task_inherit_parent_priority setting: allow child tasks to inherit priority from parent task
  celery/app/base.py
  celery/app/defaults.py
  celery/app/trace.py
  celery/utils/serialization.py
  docs/userguide/configuration.rst
  t/unit/tasks/test_tasks.py
  t/unit/tasks/test_trace.py
Labels: Component: Task Execution, PR Type: Enhancement, Status: Ready For Merge ✔

#5331 WIP: 4.3 Release
  Changelog
  README.rst
  celery/__init__.py
  celery/app/base.py
  celery/app/routes.py
  celery/app/utils.py
  celery/backends/redis.py
  celery/backends/s3.py
  celery/events/state.py
  celery/schedules.py
  celery/security/certificate.py
  celery/security/key.py
  celery/security/serialization.py
  celery/security/utils.py
  celery/utils/abstract.py
  celery/utils/collections.py
  celery/utils/text.py
  celery/worker/consumer/consumer.py
  celery/worker/consumer/gossip.py
  docs/history/changelog-4.2.rst
  docs/history/index.rst
  docs/history/whatsnew-4.2.rst
  docs/index.rst
  docs/userguide/configuration.rst
  docs/userguide/routing.rst
  docs/whatsnew-4.3.rst
  requirements/docs.txt
  t/integration/test_security.py
  t/unit/app/test_beat.py
  t/unit/app/test_utils.py
  t/unit/backends/test_base.py
  t/unit/backends/test_riak.py
  t/unit/backends/test_s3.py
  t/unit/contrib/test_sphinx.py
  t/unit/security/test_certificate.py
  t/unit/security/test_key.py
  t/unit/security/test_security.py
  t/unit/utils/test_serialization.py
Labels: Category: Packaging and Release Management

#5289 Meaningful error messages for filesystem backend
  celery/backends/filesystem.py
  t/unit/backends/test_filesystem.py
Labels: Component: Filesystem Result Backend, PR Type: Enhancement

#5217 added arangodb backend
  README.rst
  celery/app/backends.py
  celery/app/defaults.py
  celery/backends/arangodb.py
  docs/includes/installation.txt
  docs/internals/reference/celery.backends.arangodb.rst
  docs/internals/reference/index.rst
  docs/spelling_wordlist.txt
  docs/userguide/configuration.rst
  requirements/extras/arangodb.txt
  requirements/test-ci-default.txt
  setup.py
  t/unit/backends/test_arangodb.py
Labels: Category: Results Backend, PR Type: Feature, Status: Ready For Merge ✔
