Repository celery/celery, pull requests merged in 2019-05, with the labels that each got.

#5500 Fix restoring of exceptions with required param
  celery/backends/base.py
  t/unit/backends/test_base.py
Labels: Component: SQLAlchemy Database Results Backend

#5516 Document known issue with CONN_MAX_AGE in 4.3
  docs/django/first-steps-with-django.rst
Labels: Category: Documentation, PR Type: Enhancement

#5523 Added a testcase for #5290
  t/integration/test_canvas.py
Labels: Category: Tests, Component: Canvas, Component: Redis Results Backend, PR Type: Enhancement

#5515 revert #4292 to previous state to avoid django hang
  celery/fixups/django.py
  t/unit/fixups/test_django.py
Labels: regression

#5499 Potential fix and an example test case for the OSError: [Errno 9] Bad file descriptor. #4457
  CONTRIBUTORS.txt
  celery/concurrency/asynpool.py
  requirements/default.txt
  t/unit/worker/test_worker.py
Labels: Component: Autoscaling, PR Type: Bugfix, Severity: Critical, Status: Has Test Coverage ✔, Status: Ready For Merge ✔

#5533 Update couchebase repo to xenial.
  .travis.yml
Labels: Category: Project Governance, PR Type: Enhancement

#5527 Fix mogodb backend authentication and add unittests
  celery/backends/mongodb.py
  t/unit/backends/test_mongodb.py
Labels: Component: MongoDB Results Backend, PR Type: Enhancement, Status: Has Test Coverage ✔

#5545 Handle http_auth in Elasticsearch backend results
  celery/backends/elasticsearch.py
  t/unit/backends/test_elasticsearch.py
Labels: Component: ElasticSearch Results Backend, PR Type: Enhancement

#5547 Clarify documentation for worker settings with namespace with Django
  docs/django/first-steps-with-django.rst
Labels: Category: Documentation, Component: Django, PR Type: Enhancement
