Repository celery/celery, pull requests merged in 2020-08, with the labels that each got.

#6286 improve phrasing
  docs/userguide/tasks.rst
Labels: Category: Documentation, PR Type: Enhancement

#5456 Use 'property' with 'abstractmethod' instead 'abstractproperty'
  celery/utils/abstract.py
Labels: PR Type: Enhancement, Version: 5.0

#5718 Refactor CLI to use Click instead of our custom argparse based framework
  bandit.json
  celery/__main__.py
  celery/app/base.py
  celery/bin/__init__.py
  celery/bin/amqp.py
  celery/bin/base.py
  celery/bin/beat.py
  celery/bin/call.py
  celery/bin/celery.py
  celery/bin/celeryd_detach.py
  celery/bin/control.py
  celery/bin/events.py
  celery/bin/graph.py
  celery/bin/list.py
  celery/bin/logtool.py
  celery/bin/migrate.py
  celery/bin/multi.py
  celery/bin/purge.py
  celery/bin/result.py
  celery/bin/shell.py
  celery/bin/upgrade.py
  celery/bin/worker.py
  docs/conf.py
  docs/reference/cli.rst
  docs/reference/index.rst
  requirements/default.txt
  requirements/docs.txt
  t/unit/app/test_app.py
  t/unit/bin/test_amqp.py
  t/unit/bin/test_base.py
  t/unit/bin/test_beat.py
  t/unit/bin/test_call.py
  t/unit/bin/test_celery.py
  t/unit/bin/test_celeryd_detach.py
  t/unit/bin/test_celeryevdump.py
  t/unit/bin/test_control.py
  t/unit/bin/test_events.py
  t/unit/bin/test_list.py
  t/unit/bin/test_migrate.py
  t/unit/bin/test_multi.py
  t/unit/bin/test_purge.py
  t/unit/bin/test_report.py
  t/unit/bin/test_result.py
  t/unit/bin/test_upgrade.py
  t/unit/bin/test_worker.py
Labels: PR Type: Enhancement, Status: Needs Documentation ✘, Status: Needs Test Coverage ✘, Version: 5.0

#6315 Remove the deprecated old tasks API
  celery/task/__init__.py
  celery/task/base.py
  t/unit/compat_modules/__init__.py
  t/unit/compat_modules/test_compat.py
  t/unit/compat_modules/test_compat_utils.py
  t/unit/compat_modules/test_decorators.py
  t/unit/compat_modules/test_messaging.py
  t/unit/tasks/test_tasks.py
Labels: Component: Task Execution, PR Type: Enhancement

#6321 Update couchbase API to 3.0.0
  .travis.yml
  celery/backends/couchbase.py
  extra/travis/is-memcached-running
  requirements/extras/couchbase.txt
  t/unit/backends/test_couchbase.py
Labels: Component: Couchbase Results Backend, PR Type: Enhancement
