Repository celery/celery, pull requests merged in 2020-09, with the labels that each got.

#6289 Doc pytest plugin
  CONTRIBUTING.rst
  Makefile
  celery/contrib/pytest.py
  docker/Dockerfile
  docs/userguide/testing.rst
  setup.py
  t/unit/app/test_schedules.py
Labels: Category: Documentation, Component: Pytest Integration, PR Type: Enhancement

#6338 Remove celery.five and bump vine dep
  .coveragerc
  CONTRIBUTING.rst
  celery/five.py
  celery/utils/log.py
  docs/conf.py
  docs/tutorials/task-cookbook.rst
  requirements/default.txt
  t/benchmarks/bench_worker.py
Labels: PR Type: Bugfix, Version: 5.0

#6330 Expose retry_policy for Redis result backend
  celery/backends/redis.py
  docs/getting-started/brokers/redis.rst
  t/unit/backends/test_redis.py
Labels: Component: Redis Results Backend, PR Type: Enhancement

#6346 fix typo
  Changelog.rst
Labels: Category: Documentation, PR Type: Bugfix

#6328 Travis CI: Test Python 3.9 release candidate 1
  .travis.yml
  celery/canvas.py
  tox.ini
Labels: Category: Project Governance, PR Type: Enhancement

#6331 Fix examples of starting a worker in comments
  celery/bin/worker.py
Labels: Category: Documentation, PR Type: Bugfix

#6360 Remove amqp backend.
  celery/backends/amqp.py
  docs/internals/reference/celery.backends.amqp.rst
  docs/internals/reference/index.rst
  docs/whatsnew-5.0.rst
  t/unit/app/test_backends.py
  t/unit/backends/test_amqp.py
Labels: PR Type: Enhancement, Version: 5.0

#6353 Warn when deprecated settings are used
  celery/app/log.py
  celery/app/utils.py
  celery/apps/worker.py
  docs/userguide/configuration.rst
  docs/whatsnew-5.0.rst
Labels: Component: Configuration, PR Type: Enhancement, Version: 5.0

#6298 Retry after race during schema creation in database backend
  CONTRIBUTORS.txt
  celery/backends/database/session.py
  t/unit/backends/test_database.py
Labels: Component: SQLAlchemy Database Results Backend, PR Type: Bugfix

#6373 bugfix: when set config result_expires = 0, chord.get will hang.
  celery/backends/redis.py
  t/unit/backends/test_redis.py
Labels: Component: Canvas, Component: Redis Results Backend, PR Type: Bugfix
