Repository celery/celery, pull requests merged in 2021-08, with the labels that each got.

#6875 test on win32 py3.9 with pycurl windows wheels from https://www.lfd.uci.edu/~gohlke/pythonlibs/
  .github/workflows/python-package.yml
  tox.ini
Labels: Category: Project Governance, PR Type: Enhancement

#6892 Note on gevent time limit support
  docs/userguide/workers.rst
Labels: Category: Documentation, Component: Gevent Workers Pool

#6894 Add docs service in docker-compose
  CONTRIBUTING.rst
  docker/docker-compose.yml
  docker/docs/Dockerfile
  docker/docs/start
  docs/Makefile
  docs/make.bat
  requirements/docs.txt
  requirements/extras/sphinxautobuild.txt
Labels: Category: Documentation, Component: Docker Image

#6900 Update docs on Redis Message Priorities
  docs/userguide/routing.rst
Labels: Component: Redis Broker, Category: Documentation, Component: Task Routing

#6869 Remove celery.task references in modules, docs
  celery/__init__.py
  celery/app/control.py
  celery/app/registry.py
  celery/app/task.py
  celery/backends/base.py
  celery/local.py
  celery/worker/control.py
  docs/conf.py
  docs/internals/app-overview.rst
  docs/userguide/application.rst
  docs/userguide/configuration.rst
  docs/userguide/periodic-tasks.rst
  docs/userguide/routing.rst
  docs/userguide/tasks.rst
  docs/whatsnew-5.1.rst
Labels: PR Type: Cleanup

#6904 docs: remove obsolete section "Automatic naming and relative imports"
  docs/django/first-steps-with-django.rst
  docs/userguide/tasks.rst
Labels: PR Type: Cleanup, Category: Documentation

#6907 Adjust sphinx settings
  docs/reference/celery.bin.amqp.rst
  docs/reference/cli.rst
Labels: PR Type: Cleanup, Category: Documentation

#6897 Allow using non-true values in app kwargs
  celery/app/base.py
  t/unit/app/test_app.py
Labels: PR Type: Bugfix, Component: App

#6823 The Consul backend must correctly associate requests and responses
  celery/backends/consul.py
  docs/userguide/configuration.rst
  t/unit/backends/test_consul.py
Labels: Component: Consul Results Backend, PR Type: Bugfix, Status: Design Decision Needed ✘

#6896 Route chord_unlock task to the same queue as chord body
  celery/backends/base.py
  t/unit/backends/test_base.py
Labels: Component: Canvas, PR Type: Bugfix

#6818 Add message properties to app.tasks.Context (#6777)
  CONTRIBUTORS.txt
  celery/app/task.py
  celery/worker/request.py
  docs/userguide/tasks.rst
  t/integration/tasks.py
  t/integration/test_tasks.py
Labels: PR Type: Feature, Component: Task Serialization

#6915 handle already converted LogLevel and JSON
  celery/bin/base.py
  celery/bin/call.py
Labels: PR Type: Bugfix, Component: CLI

#6898 Add args to LOG_RECEIVED (fixes #6885)
  celery/app/trace.py
  celery/worker/strategy.py
  t/unit/worker/test_strategy.py
Labels: Component: Logging, PR Type: Enhancement

#6917 Terminate job implementation for eventlet concurrency backend
  celery/concurrency/eventlet.py
  docs/userguide/workers.rst
  t/unit/concurrency/test_eventlet.py
Labels: Component: Eventlet Workers Pool, PR Type: Bugfix, Status: Needs Documentation ✘, PR Type: Feature, Status: Has Test Coverage ✔

#6919 Add cleanup implementation to filesystem backend
  celery/backends/filesystem.py
  t/unit/backends/test_filesystem.py
Labels: PR Type: Feature, Component: Filesystem Result Backend

#6800 added https verification check functionality in arangodb backend
  celery/backends/arangodb.py
  docs/userguide/configuration.rst
  t/unit/backends/test_arangodb.py
Labels: PR Type: Enhancement, Component: ArangoDB Results Backend

#6934 Drop Python 3.6 support.
  .github/workflows/python-package.yml
  tox.ini
Labels: Category: Project Governance, PR Type: Enhancement
