Repository celery/celery, pull requests merged in 2021-03, with the labels that each got.

#6651 Fix default visibility timeout note in sqs documentation
  docs/getting-started/backends-and-brokers/sqs.rst
Labels: Category: Documentation, Component: Amazon SQS Broker, Component: Kombu

#6652 Add note for Task.max_retries default in documentation
  docs/userguide/tasks.rst
Labels: Category: Documentation

#6646 Simulate more exhaustive delivery info in apply()
  celery/app/task.py
  t/unit/tasks/test_tasks.py
Labels: Issue Type: Task, PR Type: Enhancement

#6650 Only run tests when any Python file has changed
  .github/workflows/python-package.yml
Labels: Category: Project Governance, PR Type: Enhancement

#6648 SQS broker back-off policy - documentation only
  docs/getting-started/backends-and-brokers/sqs.rst
Labels: Category: Documentation, Component: Amazon SQS Broker, Component: Kombu, PR Type: Feature

#6658 fix: configuration variables names
  docs/userguide/configuration.rst
Labels: Category: Documentation, PR Type: Cleanup

#6576 start chord header tasks as soon as possible
  celery/backends/base.py
  celery/backends/cache.py
  celery/backends/redis.py
  celery/canvas.py
  celery/utils/functional.py
  t/integration/tasks.py
  t/integration/test_canvas.py
  t/unit/backends/test_base.py
  t/unit/backends/test_cache.py
  t/unit/backends/test_redis.py
  t/unit/tasks/test_canvas.py
  t/unit/tasks/test_chord.py
  t/unit/utils/test_functional.py
Labels: Component: Canvas, PR Type: Bugfix

#6655 Forward shadow option for retried tasks
  celery/app/task.py
  t/unit/tasks/test_tasks.py
Labels: Component: Task Execution, PR Type: Bugfix

#6600 Update platforms.py "superuser privileges" check
  celery/bin/worker.py
  celery/exceptions.py
  celery/platforms.py
  t/unit/utils/test_platforms.py
Labels: Category: Deployment, PR Type: Bugfix, Status: Has Test Coverage ✔

#6599 --quiet flag now actually makes celery avoid producing logs
  celery/bin/worker.py
Labels: Component: CLI, PR Type: Bugfix

#6624 remove unused property `autoregister` from the Task class
  celery/app/task.py
Labels: PR Type: Cleanup

#6659 Fixed typos
  celery/backends/redis.py
Labels: Category: Documentation

#6663 Run CI when dependencies change & when the pipeline itself changes
  .github/workflows/python-package.yml
Labels: Category: Project Governance, PR Type: Enhancement

#6668 fnmatch.translate() already translates globs for us.
  celery/app/routes.py
  t/unit/app/test_routes.py
Labels: Component: Task Routing, PR Type: Bugfix, Status: Has Test Coverage ✔

#6669 Add `azureblockblob_base_path` config
  CONTRIBUTORS.txt
  celery/app/defaults.py
  celery/backends/azureblockblob.py
  docs/userguide/configuration.rst
  t/unit/backends/test_azureblockblob.py
Labels: Component: Azure Block Blob Results Backend, PR Type: Enhancement, Status: Needs Test Coverage ✘

#6676 document time limit options of apply_async
  celery/app/task.py
Labels: Category: Documentation

#6674 Drop the lzma extra
  requirements/extras/lzma.txt
  setup.py
Labels: Category: Project Governance, PR Type: Cleanup

#6678 Fix checking expiration of X.509 certificates
  celery/security/certificate.py
  t/unit/security/test_certificate.py
Labels: Component: Auth Serializer, PR Type: Bugfix

#6675 Fix JSON decoding errors when using MongoDB as backend
  celery/backends/mongodb.py
  t/unit/backends/test_mongodb.py
Labels: Component: MongoDB Results Backend, PR Type: Bugfix

#6666 Allow configuration of RedisBackend's health_check_interval
  celery/backends/redis.py
  docs/userguide/configuration.rst
  t/unit/backends/test_redis.py
Labels: Component: Redis Results Backend, PR Type: Feature

#6684 Added testcase for issue #6437
  t/integration/test_canvas.py
Labels: Component: Canvas, Component: Redis Results Backend, PR Type: Test Case

#6619 Safeguard against schedule entry without kwargs
  celery/beat.py
  t/unit/app/test_beat.py
Labels: Component: Celerybeat, PR Type: Bugfix, Status: Has Test Coverage ✔

#6693 Docs only - SQS broker - add STS support
  docs/getting-started/backends-and-brokers/sqs.rst
Labels: Category: Documentation, Component: Amazon SQS Broker, Component: Kombu, PR Type: Enhancement, Status: Has Documentation✔

#6700 Drop fun_accepts_kwargs backport
  celery/utils/functional.py
Labels: PR Type: Cleanup, Python Version: Python 3

#6699 Tasks can now have required kwargs at any order
  celery/utils/functional.py
  t/unit/utils/test_functional.py
Labels: Component: Task Execution, PR Type: Bugfix
