Repository celery/celery, pull requests merged in 2021-02, with the labels that each got.

#6326 Update class-based task retry docs
  docs/userguide/tasks.rst
Labels: Category: Documentation, Issue Type: Task, PR Type: Bugfix

#6628 Fixes #6626 - Update extra/supervisord/celeryd.conf
  extra/supervisord/celeryd.conf
Labels: Category: Deployment, PR Type: Bugfix

#6633 Small refactor in exception handling of `on_failure`
  celery/worker/request.py
Labels: Component: Task Execution, PR Type: Cleanup

#6616 Fix for issue #5030 "Celery Result backend on Windows OS".
  celery/backends/filesystem.py
Labels: Component: Filesystem Result Backend, Operating System: Windows, PR Type: Bugfix

#6642 Report code coverage using codecov
  .github/workflows/python-package.yml
  .travis.yml
Labels: Category: Project Governance, PR Type: Enhancement

#6614 add store_eager_result setting so eager tasks can store result on the backend
  CONTRIBUTORS.txt
  celery/app/defaults.py
  celery/app/task.py
  celery/app/trace.py
  docs/userguide/configuration.rst
  docs/userguide/testing.rst
  t/unit/tasks/test_trace.py
Labels: Category: Results Backend, Component: Configuration, PR Type: Enhancement

#6632 Allow heartbeats to be sent in tests
  celery/contrib/testing/worker.py
  docs/userguide/testing.rst
Labels: Component: Pytest Integration, PR Type: Enhancement

#6486 Make Python 3.9 support official
  setup.py
Labels: Category: Packaging and Release Management

#6201 test_canvas: Add test for chain-in-chain
  t/integration/test_canvas.py
Labels: Category: Tests, Component: Canvas, PR Type: Test Case

#6645 New celery beat run command for supervisor
  extra/supervisord/celerybeat.conf
Labels: Category: Deployment, Component: Celerybeat, PR Type: Cleanup

#6647 Support Redis Sentinel with SSL
  celery/backends/redis.py
  t/unit/backends/test_redis.py
Labels: Component: Redis Results Backend, PR Type: Enhancement
