Repository celery/celery, pull requests merged in 2022-11, with the labels that each got.

#7877 Stabilized `test_revoked_by_headers_complex_canvas`
  t/integration/test_tasks.py
Labels: Category: Tests

#7867 StampingVisitor will visit the callbacks and errbacks of the signature
  celery/canvas.py
  docs/userguide/canvas.rst
  t/unit/tasks/test_canvas.py
Labels: Component: Canvas

#7859 Add --skip-checks flag to bypass django core checks
  celery/bin/celery.py
  celery/fixups/django.py
  t/unit/fixups/test_django.py
Labels: Component: Django, Component: CLI

#7882 Added two new unit tests to callback stamping
  t/unit/tasks/test_canvas.py
Labels: Category: Tests, Component: Canvas

#7879 Sphinx extension: use inspect.signature to make it Python 3.11 compatible
  celery/contrib/sphinx.py
Labels: PR Type: Cleanup, Component: Sphinx Contrib

#7889 Canvas.py doc enhancement
  celery/canvas.py
Labels: Component: Canvas, Category: Documentation

#7890 Fix typo
  celery/beat.py
Labels: Category: Documentation

#7891 Canvas.py doc enhancement
  celery/canvas.py
Labels: Component: Canvas, Category: Documentation

#7892 Fix revoke by headers tests stability
  t/integration/test_tasks.py
Labels: Category: Tests

#7620 feat: add global keyprefix for backend result keys
  CONTRIBUTORS.txt
  celery/backends/base.py
  docs/getting-started/backends-and-brokers/redis.rst
  t/unit/backends/test_base.py
Labels: Component: Redis Results Backend

#7897 Canvas.py doc enhancement
  celery/canvas.py
Labels: Component: Canvas, Category: Documentation

#7902 Canvas.py doc enhancement
  celery/canvas.py
Labels: Component: Canvas, Category: Documentation

#7907 Canvas.py doc enhancement
  celery/canvas.py
Labels: Component: Canvas, Category: Documentation

#7916 Stamping a task left the task properties dirty
  celery/app/base.py
  t/integration/test_canvas.py
Labels: Component: Canvas, PR Type: Bugfix

#7919 Fixed bug when chaining a chord with a group
  celery/canvas.py
  t/integration/test_canvas.py
  t/unit/tasks/test_canvas.py
Labels: Component: Canvas, PR Type: Bugfix

#7928 Fixed bug in the stamping visitor mechanism where the request was lacking the stamps in the 'stamps' property
  celery/worker/request.py
  t/integration/test_canvas.py
Labels: Component: Canvas, PR Type: Bugfix

#7929 Fixed bug in task_accepted() where the request was not added to the `requests` but only to the `active_requests`
  celery/worker/state.py
Labels: PR Type: Bugfix, Worker

#7930 Fix bug in TraceInfo._log_error() where the real exception obj was hiding behind 'ExceptionWithTraceback'
  celery/app/trace.py
  t/unit/worker/test_request.py
Labels: PR Type: Bugfix

#7931 Added integration test: test_all_tasks_of_canvas_are_stamped()
  t/integration/test_canvas.py
Labels: Component: Canvas, PR Type: Test Case

#7933 Added new example for the stamping mechanism: examples/stamping
  examples/stamping/config.py
  examples/stamping/myapp.py
  examples/stamping/shell.py
  examples/stamping/tasks.py
  examples/stamping/visitors.py
Labels: Category: Documentation
