Repository celery/celery, pull requests merged in 2022-12, with the labels that each got.

#7934 Fixed a bug where replacing a stamped task and stamping it again
  celery/app/task.py
  examples/stamping/shell.py
  t/integration/tasks.py
  t/integration/test_canvas.py
Labels: PR Type: Bugfix

#7935 Bugfix for nested group stamping on task replace
  celery/app/task.py
  t/integration/tasks.py
  t/integration/test_canvas.py
Labels: Component: Canvas, PR Type: Bugfix

#7937 Added integration test test_stamping_example_canvas()
  t/integration/tasks.py
  t/integration/test_canvas.py
Labels: Component: Canvas, PR Type: Test Case

#7938 Fixed a bug in losing chain links when unchaining an inner chain with links
  celery/canvas.py
  t/integration/test_canvas.py
  t/unit/tasks/test_canvas.py
Labels: Component: Canvas, PR Type: Bugfix

#7942 Housekeeping for Canvas.py
  .github/workflows/python-package.yml
  celery/canvas.py
  t/unit/tasks/test_canvas.py
Labels: Component: Canvas, PR Type: Bugfix, PR Type: Test Case

#7956 try pypy 3.9 in CI
  .github/workflows/python-package.yml
Labels: Category: Project Governance, CI

#7951 Add broker_channel_error_retry option
  celery/app/defaults.py
  celery/worker/consumer/consumer.py
  docs/userguide/configuration.rst
  t/unit/worker/test_consumer.py
Labels: PR Type: Enhancement

#7945 Add beat_cron_starting_deadline_seconds to prevent unwanted cron runs
  CONTRIBUTORS.txt
  celery/app/defaults.py
  celery/schedules.py
  docs/userguide/configuration.rst
  t/unit/app/test_beat.py
  t/unit/app/test_schedules.py
Labels: Component: Celerybeat, PR Type: Bugfix, PR Type: Enhancement

#7967 Added doc to "retry_errors" newly supported field of "publish_retry_policy" of the task namespace
  docs/userguide/calling.rst
Labels: Category: Documentation

#7968 Renamed from master to main in the docs and the CI workflows
  .github/ISSUE_TEMPLATE/Bug-Report.md
  .github/ISSUE_TEMPLATE/Documentation-Bug-Report.md
  .github/ISSUE_TEMPLATE/Enhancement.md
  .github/ISSUE_TEMPLATE/Feature-Request.md
  .github/ISSUE_TEMPLATE/Major-Version-Release-Checklist.md
  .github/ISSUE_TEMPLATE/Minor-Version-Release-Checklist.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/changerelease.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/python-package.yml
  CONTRIBUTING.rst
  Changelog.rst
  README.rst
  docs/django/first-steps-with-django.rst
  docs/includes/installation.txt
  docs/includes/resources.txt
  docs/templates/readme.txt
  docs/userguide/concurrency/eventlet.rst
  docs/userguide/daemonizing.rst
Labels: Category: Documentation, CI

#7973 Fix docs for the exchange to use with worker_direct
  docs/userguide/configuration.rst
Labels: Category: Documentation

#7974 Pin redis==4.3.4
  requirements/extras/redis.txt
Labels: redis-py, CI
