Repository celery/celery, pull requests merged in 2022-09, with the labels that each got.

#7745 Improved custom stamping visitor documentation
  docs/userguide/canvas.rst
Labels: Component: Canvas, Category: Documentation

#7748 Improved the coverage of test_chord_stamping_body_chord()
  t/unit/tasks/test_canvas.py
Labels: Category: Tests, PR Type: Test Case

#7764 billiard >= 3.6.3.0,<5.0 for rpm
  setup.cfg
Labels: Category: Packaging and Release Management
