Repository celery/celery, pull requests merged in 2023-07, with the labels that each got.

#8389 Update test.txt dependencies
  requirements/test.txt
Labels: CI

#8391 Fix backend.get_task_meta ignores the result_extended config parameter in mongodb backend
  celery/backends/mongodb.py
  t/unit/backends/test_mongodb.py
Labels: Component: MongoDB Results Backend, PR Type: Bugfix

#8374 Support preload options for shell and purge commands
  celery/bin/purge.py
  celery/bin/shell.py
  t/unit/app/test_preload_cli.py
  t/unit/bin/proj/pyramid_celery_app.py
Labels: Component: CLI
