Repository celery/celery, pull requests merged in 2024-08, with the labels that each got.

#9083 Terminate job implementation for gevent concurrency backend
  celery/concurrency/gevent.py
  docs/userguide/workers.rst
  t/unit/concurrency/test_gevent.py
Labels: Component: Gevent Workers Pool

#9177 Bump Kombu to v5.4.0
  requirements/default.txt
Labels: dependencies

#9179 Added SQS (localstack) broker to canvas smoke tests
  requirements/extras/pytest.txt
  requirements/test.txt
  t/smoke/conftest.py
  t/smoke/tests/test_canvas.py
  t/smoke/workers/docker/dev
  t/smoke/workers/docker/pypi
Labels: Category: Tests

#9181 Add basic helm chart for celery
  .pre-commit-config.yaml
  helm-chart/.helmignore
  helm-chart/Chart.yaml
  helm-chart/README.rst
  helm-chart/templates/_helpers.tpl
  helm-chart/templates/configmap.yaml
  helm-chart/templates/deployment.yaml
  helm-chart/templates/secret.yaml
  helm-chart/templates/serviceaccount.yaml
  helm-chart/values.yaml
Labels: Category: Deployment
