Repository celery/celery, pull requests merged in 2025-07, with the labels that each got.

#9770 Add xfail test for RabbitMQ quorum queue global QoS race condition
  t/integration/conftest.py
  t/integration/test_quorum_queue_qos_cluster_simulation.py
  t/integration/test_security.py
  t/integration/test_tasks.py
Labels: Component: RabbitMQ Broker

#9788 fix: (#8786) time out when chord header fails with group body
  CONTRIBUTORS.txt
  celery/app/builtins.py
  celery/backends/base.py
  celery/backends/gcs.py
  celery/backends/redis.py
  t/integration/test_canvas.py
  t/smoke/tests/test_canvas.py
  t/unit/backends/test_base.py
  t/unit/backends/test_gcs.py
Labels: Component: Canvas, PR Type: Bugfix

#9799 Fix memory leak in exception handling (Issue #8882)
  celery/app/trace.py
  t/integration/test_mem_leak_in_exception_handling.py
  t/unit/app/test_trace.py
Labels: PR Type: Bugfix, memory leak

#9791 Remove importlib_metadata leftovers
  celery/bin/celery.py
  celery/utils/imports.py
Labels: PR Type: Cleanup
